@font-face{
	font-family: 'SegoeWP';
	src: url('../fonts/SegoeWP.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'SegoeWPN';
	src: url('../fonts/SegoeWPN.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: SegoeWPN;
}

.header {
    padding-top: 23px;
}

.logo {
    margin-bottom: 20px;
}


.menu__nav ul {
    margin: 0px;
    list-style-type: none;
}

.menu__item {
    font-family: SegoeWPN;
}
.menu__item a {
    display: block;
    font-size: 20px;
    color: rgb(108, 108, 108);
    padding: 18px 3px;
    margin: 0px 18px;
}
.menu__item a:hover {
    box-shadow: rgb(80, 148, 242) 0px -3px 0px 0px inset;
    text-decoration: none;
}

.firstscreen {
    padding: 40px 0px 20px;
    background: url(../img/bg.jpg) center bottom / cover;
    background-position: center bottom;
}

.offer {
    font-family: SegoeWP;
}
.offer__title {
    color: white;
    font-size: 42px;
}
.offer__text {
    font-size: 26px;
    line-height: 1.7em;
    color: white;
    margin-bottom: 30px;
}

.galka {
    margin-right: 5px;
}
.sign-up {
    color: white;
    font-size: 22px;
    background-color: rgb(80, 148, 242);
    margin-left: 10px;
    padding: 4px 10px 8px;
}
.sign-up:hover {
    color: white;
    text-decoration: none;
}

.features {
    margin-top: 30px;
}
.feature__block {
    margin-top: 30px;
}
.feature__title {
    color: rgb(80, 148, 242);
    font-size: 20px;
}
.feature__text {
    color: rgb(144, 144, 144);
    font-size: 14px;
}

.cart {
    margin-top: 60px;
}
.cart__title {
    font-size: 42px;
    color: rgb(111, 113, 115);
    text-align: center;
}
.product {
    margin-top: 20px;
}

.offer2 {
	font-family: SegoeWP;
}
.offer2__title {
		font-family: SegoeWPN;
    font-size: 26px;
    color: rgb(111, 113, 115);
    margin-bottom: 18px;
}
.offer2__text {
    font-size: 15px;
    color: rgb(144, 144, 144);
    line-height: 2.3em;
}

.footer__hr {
    margin: 45px 0px 30px;
}

footer {
    margin-bottom: 25px;
}

.copyright {
    color: rgb(144, 144, 144);
    font-size: 15px;
    text-align: center;
    margin: auto;
		font-family: SegoeWP;
}

@media screen and (max-width: 992px) {
	 .container {
      width: 100%;
			max-width: none;
   }

	 .logo {
		 margin: 10px 0px 25px 35px;
		 width: 70%;
	 }
	 .menu__nav{
	 	display:none;
	 }
	 .sandwich{
			width: 68%;
			margin: 10px 25px 25px 15px;
	  	/* margin-bottom: 15px; */
	 }
	 .carousel-control-prev,
	 .carousel-control-next{
	   display: none;
	 }


	 .iphone{
			width: 280px;
	 }
	 .firstscreen{
		 padding: 30px 0 15px;
		 margin-bottom: 35px;
	 }
	 .offer__title{
		font-size: 47px;

	 }
	 .offer__text{
		 	font-size: 35px;
			margin-bottom: 45px;


	 }
	 .sign-up{
		 font-size: 50px;
		 margin: 0px 0 0 0;
		 font-weight:normal;
		 padding: 5px 25px 15px 20px;

	 }
	 .galka{
		 width:10%;
		 margin-bottom: 5px;
	 }
	 .offer{

	 }
	 .feature__block{
		 text-align: left;
		 align-self: center;
		 padding-left: 0px;

	 }

	 .feature__title {
		 font-size: 50px;
	 }
	 .feature__text{
		 font-size: 30px;
		 line-height: 1.3em;
	 }
	 .features {
		 margin: 0px;
	 }
	 .feature__icon{
		 width: 75%;
		 margin: 20px 0 15px 10px;

	 }
	 .feature_hr{
		 padding: 0px;
		 color:black;

	 }
	 .feature_hr hr{
		  height:0.5px;
			background-color: #bbb;
	 }
	 .cart__title{
		 font-size: 63px;
		 margin-bottom:25px;
	 }
	 .product{
		 width:37%;
	 }
	 .offer2{
		 margin-top:10px;
	 }
	 .offer2__title{
		 font-size: 50px;
	 }
	 .offer2__text{
		 font-size: 26px;
	 }
	 .copyright{
		 font-size: 24px;
		 margin-bottom: 20px;
	 }


}
